@import './variables.scss';
@import 'bootstrap/scss/bootstrap';
// @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hammersmith+One&display=swap');

@keyframes scrollDown {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-100%, 100%);
        opacity: 0;
    }
}
a {
    text-decoration: none;
    transition: .3s;
}
.bd-gutter {
    margin-left: 3rem;
    margin-right: 3rem;
}
main {
    h1 {
        font-family: 'Hammersmith One', sans-serif;
    }
    .bd-masthead {
        padding: 8rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01),
        rgba(var(--bs-body-bg-rgb), 1) 85%),
        radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
        .bg-visual {
            width: 104px;
            height: 150px;
            background: url(../assets/main_visual.svg) no-repeat 50% 50%;
        }
        .lead {
            color: var(--bs-secondary-color);
            font-weight: 400;
        }
        .scroll-down {
            transform: rotate(-45deg);
            position: absolute;
            bottom: 5rem;
            left: 50%;
            width: 1rem;
            height: 1rem;
            margin-left: -12px;
            border-left: 0.125rem solid #212529;
            border-bottom: 0.125rem solid #212529;
            -webkit-animation: scrollDown 1.4s infinite;
            animation: scrollDown 1.4s infinite;
            z-index: 8;
        }
    }
}
hr {
    color: rgb(226, 232, 240);
    opacity: 0.75;
}
.card {
    border-color: rgba(226, 232, 240, 0.75);
}
.navbar-brand {
    img {
        opacity: 0.7;
    }
}
.display-5 {
    font-size: 2rem;
}
.py-lg-20 {
    padding-top: 9.5rem !important;
    padding-bottom: 9.5rem !important;
}
.text-inherit {
    color: inherit;
}
.fs-4 {
    font-size: 1rem !important;
    color: $secondary
}
.mt-n8 {
    margin-top: -3.5rem!important;
}
.img-hover {
    box-shadow: 0 3px 6px rgba(3, 0, 71, 0.4);
    transition: .3s;
    &:hover {
        transform: scale(1.02);
        box-shadow: none;
    }
}