$primary: #BB254A;
$secondary: #64748b;
$border-color: #cbd5e1;
$light: #f1f5f9;
$success: #0f7987;
// $body-color: red;
:root {
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
}